USE [master]
GO
/****** Object:  Database [ELCSA]    Script Date: 2020/02/27 23:18:18 ******/
CREATE DATABASE [ELCSA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ELCSA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SYSARCH\MSSQL\DATA\ELCSA.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ELCSA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SYSARCH\MSSQL\DATA\ELCSA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ELCSA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ELCSA]
GO
/****** Object:  Table [dbo].[Congregant]    Script Date: 2020/02/27 23:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Congregant](
	[Congregant_ID] [varchar](50) NOT NULL,
	[Con_Name] [char](50) NOT NULL,
	[Con_Surname] [char](50) NOT NULL,
	[Con_Phone_Number] [char](10) NULL,
	[Con_Ward] [char](10) NOT NULL,
	[Con_Age] [int] NULL,
	[Parish_ID] [int] NOT NULL,
 CONSTRAINT [PK_Congregant] PRIMARY KEY CLUSTERED 
(
	[Congregant_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2020/02/27 23:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[emp_ID] [varchar](50) NOT NULL,
	[Position] [char](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[emp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OfficeWorkers]    Script Date: 2020/02/27 23:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OfficeWorkers](
	[emp_ID] [varchar](50) NOT NULL,
	[Name] [char](50) NOT NULL,
	[Surname] [char](50) NOT NULL,
	[Phone Number] [char](10) NULL,
	[ID_Number] [char](13) NULL,
 CONSTRAINT [PK_OfficeWorkers] PRIMARY KEY CLUSTERED 
(
	[emp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Parish]    Script Date: 2020/02/27 23:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parish](
	[Parish_ID] [int] NOT NULL,
	[Parish_Name] [char](50) NOT NULL,
	[Parish_Pastor] [char](50) NOT NULL,
	[Parish_Address] [char](50) NOT NULL,
	[Pasrish_Cell] [char](10) NULL,
	[Congregant_ID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Parish] PRIMARY KEY CLUSTERED 
(
	[Parish_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pastor]    Script Date: 2020/02/27 23:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pastor](
	[emp_ID] [varchar](50) NOT NULL,
	[P_Name] [char](50) NOT NULL,
	[P_Surname] [char](50) NOT NULL,
	[P_PhoneNumber] [char](10) NULL,
	[P_ID_Number] [char](13) NULL,
	[Parish_ID] [int] NOT NULL,
 CONSTRAINT [PK_Pastor] PRIMARY KEY CLUSTERED 
(
	[emp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Parish]  WITH CHECK ADD  CONSTRAINT [FK_Parish_Congregant] FOREIGN KEY([Congregant_ID])
REFERENCES [dbo].[Congregant] ([Congregant_ID])
GO
ALTER TABLE [dbo].[Parish] CHECK CONSTRAINT [FK_Parish_Congregant]
GO
USE [master]
GO
